{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="products_list">
        <div class="product_record" >
            <div class="product_name">{{ product_item.name }}</div>
            <img src="/media/{{ product_item.image }}" alt="Картинка товара">
            <div class="summary">
                Цена: {{ product_item.price }}руб.
                Количество:{{ product_item.quantity }}шт.
            </div>
            <div class="product_desc">
                {{ product_item.description }}
            </div>
        </div>
        <a href="{% url 'adminapp:products' product_item.category_id %}" class="btn btn-primary">Назад</a>
    </div>
{% endblock %}